html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.my-tasks-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #F1EFF6;
    color: #000f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .my-tasks-button:hover {
        background-color: #0056b3;
    }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}